<div class="info-in-detail-page py-5 my-5">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-4 font-weight-bold">
                        <p>Ngày khởi chiếu</p>
                        <p>Đạo diễn</p>
                        <p>Diễn viên</p>
                        <p>Thể loại</p>
                        <p>Định dạng</p>
                        <p>Quốc gia</p>
                    </div>
                    <div class="col-md-8">
                        <p>Ngày khởi chiếu</p>
                        <p>Action, Science fiction</p>
                        <p>Zack Snyder</p>
                        <p>Hài, Tâm lý</p>
                        <p>2D/Digital/3D</p>
                        <p>United State</p>
                        <div class="evaluate-stars d-flex mt-2 mb-3">
                                <!-- <i class="fa fa-star icon-star" *ngFor="let star of fullStarArr"></i>
                                <i class="fa fa-star-o icon-star" *ngFor="let star of emptyStarArr"></i> -->
                    
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <p>Nội dung</p>
            </div>
        </div>
    </div>
</div>