<div class="background-movie-detail-page">
  <div class="styleGradient" style="background: linear-gradient(to top, rgb(10, 32, 41), transparent 100%);"></div>
  <div class=" banner-in-detail-page container">
    <div class="row">
      <div class="col-md-8 ml-5">
        <div class="row">
  
          <div class="col-md-4">
            <div class="detail-illustrate">
              <img class="detail-poster" src="https://s3img.vcdn.vn/mobile/123phim/2020/09/cuc-no-hoa-cuc-cung-pawn-p-16012814841278_215x318.png" alt="" width="220px" height="335px">
              <button class="playTrailer">
                <img src="../../../assets/img/play-video.png" alt="">
              </button>
            </div>
          </div>
  
          <div class="col-md-8 detail-content">
            <div class="detail-text">
              <p>Ngày khởi chiếu</p>
              <h1>Tên phim</h1>
              <p>Thời gian</p>
              <button class="btn btn-danger buyTicket">Đặt vé</button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 text-center">
        <div class="evaluate-circle">
          <div class="circlePercent">
            <div class="circleBorder"></div>
            <div class="point-group">
              <div class="fill"></div>
              <div class="bar"></div>
            </div>
            <span class="point">8.5</span>
          </div>
          <div class="star pt-2 d-flex">
            <img class="smallStar" src="https://tix.vn/app/assets/img/icons/star1.png" alt="">
            <img class="smallStar" src="https://tix.vn/app/assets/img/icons/star1.png" alt="">
            <img class="smallStar" src="https://tix.vn/app/assets/img/icons/star1.png" alt="">
            <img class="smallStar" src="https://tix.vn/app/assets/img/icons/star1.png" alt="">
            <img class="haft w-25" src="https://tix.vn/app/assets/img/icons/star1.2.png" alt="">
          </div>
          <p class="danhGia">188 người đánh giá</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div style="background-color: rgb(10, 32, 41);">
  <div class="container">
    <app-buy-ticket></app-buy-ticket>
  </div>
</div>
